.action-button {
    background-color: var(--color-blue-200);
    padding-block: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color-200);
    border: none;
    border-radius: 40px;
}