main {
    margin-block: 8rem;
}

main p.display {
    color: var(--color-primary-400);
}

main .search-container {
    margin-block: 4.8rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .search-container .input-search {
    width: 86%;
}

main .items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .filter-container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
    margin-bottom: 6.4rem;

    border: 1px solid var(--color-primary-800);
    border-radius: 1.2rem;
}