main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 8rem;
}

main h2 {
    color: var(--color-primary-200);
    margin-bottom: 0.8rem;
}

main form {
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

main form .form-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    width: 80rem;
    padding: 2.4rem;
    border: 1px solid var(--color-primary-800);
    border-radius: 1.2rem;
}

main form .form-box .form-title-wrap div {
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
}

main form .form-box .form-title-wrap div h3 {
    color: var(--color-secondary-400);
}

main form .form-box .form-input-wrap {
    display: flex;
    gap: 1.2rem;
}

main form .form-box .input-form label:has(+ input:required, + textarea:required)::after,
main form .form-box .select-form label:has(+ select:required)::after {
    content: " *";
    color: var(--color-red-200);
}

main form .form-buttons-wrap {
    display: flex;
    justify-content: space-between;
}

main form .form-buttons-wrap .action-button {
    width: 37rem;
}

main form .form-buttons-wrap .cancel-button {
    width: 20rem;
}